$white-70: #f7f7f7 !default;

// #F6F1E9 #D50000 #FFCE0A #1A1A1A
// #F6F1E9 #F7F3EC #FF0000
$primary-gannetrans: #ffce0a;
$secondary-gannetrans: #d50000;
$dark-gannetrans: #1a1a1a;
$white-gannetrans: #f6f1e9;

// Color style theme
$primary: #b90000;
$primary-ekstra: #d50000;
$secondary: #ffce0a;
