@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map.has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map.has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: list.append($src, url(string.quote($path + "." + $extmod)) format(string.quote($format)), comma);
	}

	@font-face {
		font-family: string.quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin font-face-roboto($name, $path, $weight: null, $style: null, $exts: ttf) {
	$names: "Roboto";
	$src: local($names + " " + $name), local(string.quote(Roboto- + $name)), url($path), format(string.quote($exts));
	@font-face {
		font-family: string.quote($names);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin font-face-sourcesanspro($name, $path, $weight: null, $style: null, $exts: ttf) {
	$names: "Source Sans Pro";
	$src:
		local($names + " " + $name), local(string.quote(SourceSansPro- + $name)), url($path),
		format(string.quote($exts));
	@font-face {
		font-family: string.quote($names);
		font-style: $style;
		font-weight: $weight;
		src: url($path + "." + $exts);
	}
}
